<!DOCTYPE html>
<html>
	<head>
		<title>Vue JS Learning</title>
	</head>
	<body>
		<div id="what">
			What: This is vue2.html, it is getting 2 input values and attaching them to vuejs object.
		</div>
		<div id="how">
			How: make html inputs, make vuejs element, attach vuejs element to html inputs.
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>''
		<div id="container">
				<input type="text" id="status" v-model="status">
				<input type="text" id="message" v-model="message">


		</div>
		<script type="text/javascript">
			new Vue({el:'#container',data:{message:'payment is done',status:'success'}});	


		</script>
	</body>
</html>
