<!DOCTYPE html>
<html>
	<head>
		<title>Vue JS Learning</title>
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<div id="what">
			What: Iterate names' array and generate dynamic li's with names in a ul.Make a button, upon whose click it add string to array, ideally 
		</div>
		<div id="how">
			How: Make Vuejs object,make array as its datapart iterate in html.Make input element, get its value and put in array names then print in dom.
		</div>
		<div id="rootelem">
			<label>Add New Member</label>
			<input type="text" v-model="newName">
			<button id="add-member" v-on:click="addName">Add Member</button>
			<ul>
				<li v-for="name in names" v-text="name"></li>
			</ul>
		</div>
		<script type="text/javascript">
			var app = new Vue({el:'#rootelem',data:{names:['Adeel','Sadia','Ayesha','Ibrahim','Ismael'],newName:''},
				methods:
				{
					addName()
					{
						if(this.newName.trim() != ''){this.names.push(this.newName);}
					}
				}
			});
		</script>
	</body>
</html>